<div class="container">
  <h3>Historique</h3>
  <ul>
    <% @choix_recettes.each_with_index do |choix, index| %>
      <li><%= @recettes[index].nom %> - <%= choix.created_at.strftime('%d %m, %Y') %></li>
    <% end %>
  </ul>
</div>
