<div class="dashboard-container" data-controller="carousel">

  <%= render "statistiques_dashboard", daily_cal: @daily_cal, daily_cal_left: @daily_cal_left, proteines: @proteines, glucides: @glucides, lipides: @lipides %>

  <%= render "choix_recettes/user_choix_today", choix_recettes: @choix_recettes %>

  <h1 class="best-recettes-title">Découvrez les recettes préférées des Fitos !</h1>

  <%= render "recettes/best_recettes_carousel", recettes: @best_recettes %>
</div>
