<div class="container">
  <div class="carousel mt-5">
    <h3>INSERER ICI LE CAROUSEL</h3>
    <ul class="list-group list-group-flush">
      <% @best_recettes.each do |recette| %>
        <li class="list-group-item"><%= recette.nom %></li>
      <% end %>
    </ul>
  </div>

  <div class="recettes-du-jour mt-5">
    <h3>INSERER ICI LES RECETTES DU JOUR</h3>
      <ul class="list-group list-group-flush">
      <% @user_recettes.each do |recette| %>
        <li class="list-group-item"><%= recette.nom %></li>
      <% end %>
    </ul>
  </div>

  <div class="daily-calories mt-5">
    <h3>INSERER ICI LE NOMBRE DE CALORIES DU JOUR</h3>
    <p>Calories journalières : <%= @daily_cal %></p>
    <p>Calories restantes : <%= @daily_cal_left %></p>
  </div>
</div>
