<div class="dashboard-container" data-controller="carousel">

  <%= render "recettes/best_recettes_carousel", recettes: @best_recettes %>

  <%= render "choix_recettes/user_choix_today", choix_recettes: @choix_recettes %>

  <div class="daily-calories mt-5">
    <h3>INSERER ICI LE NOMBRE DE CALORIES DU JOUR</h3>
    <p>Calories journalières : <%= @daily_cal %></p>
    <p>Calories restantes : <%= @daily_cal_left %></p>
  </div>
</div>
