<div class="container">
  <%# TODO : class container temporaire (eviter d'utiliser les classes bootstrap pour le rendu final) %>
  <h1>Bienvenue !</h1>
  <%= link_to "Fil d'actualité", posts_path, class: "btn btn-success" %>
</div>
