#index-recette-title {
    font-weight: 800;
    color: $color-dark-green;
}

.recettes-container {
  height: 100%;
  margin: 0;
  padding: 35px;
  background-color: $color-bg;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .active {
    background-color: $color-second-green;
    color: $color-dark-green;
  }
}

#search-form {
  width: 100%;
}

// .search-bar {
//   padding: 35px 0px;
// }

#search-input {
  position: relative;
}

.clear-btn {
  position: absolute;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  opacity: 0.8;
  right: 35px;
  top: 30px;
}

.recettes-filtre {
  display: flex;
  align-items: center;
  padding-top: 16px;
  margin-bottom: 70px;
  flex-wrap: wrap;
}
.repas {
  color: $color-bg;
  background-color: $color-dark-green;
  border-radius: 14px;
  padding: 8px;
  margin: 5px;
  text-wrap: nowrap;
  font-weight: 700;
  transition: all 0.3s ease;
}



.recettes-card {
  width: 80%;
  padding-bottom: 20px;
  padding-top: 60px;
  margin-bottom: 60px;
  height: 200px;
  background-color: $color-second-green;
  text-align: center;
  border-radius: 4px;
  position: relative;
}

.recettes-img {
  position: absolute;
  top: -45px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  width: 170px;
  height: 170px;
  object-position: center;
}

h4 {
  margin-top: 80px;
  width: 200px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

h4 a {
  color: $color-dark-green;
  text-decoration: none;
  font-size: 16px;
}

.recettes-icons {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  bottom: 0;
  right: 0;
  color: $color-dark-green;
  gap: 5px;
}
.recettes-icons svg {
  fill: $color-dark-green;
}
