#whassup {
    font-weight: 800;
    color: $color-dark-green;
    margin: 20px 0px 0px 0px;
    padding: 0px 35px 10px 0px;
}

.recettes-container {
  height: 100%;
  margin: 0;
  background-color: $color-bg;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.recettes-filtre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  margin-bottom: 70px;
}
.repas {
  text-decoration: none;
  color: $color-bg;
  background-color: $color-dark-green;
  border-radius: 14px;
  padding: 8px;
  margin: 5px;
}
.active {
  background-color: yellow;
}


.recettes-card {
  width: 80%;
  padding-bottom: 20px;
  padding-top: 60px;
  margin-bottom: 60px;
  height: 200px;
  background-color: $color-second-green;
  text-align: center;
  border-radius: 4px;
  position: relative;
}

.recettes-img {
  position: absolute;
  top: -45px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  width: 170px;
  height: 170px;
  object-position: center;
}

h4 {
  margin-top: 80px;
  width: 200px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

h4 a {
  color: $color-dark-green;
  text-decoration: none;
  font-size: 16px;
}

.recettes-icons {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  top: 84px;
  left: -38px;
  color: $color-dark-green;
  gap: 5px;
}
.recettes-icons svg {
  fill: $color-dark-green;
}
