.container-show {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-show svg {
  fill: $color-dark-green;
}

.container-show h2, h5 {
  color: $color-dark-green;
}

.show-img img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
}

.show-icons {
  position: absolute;
  width: 100%;
  top: 255px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
}

.show-rating {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.show-attributes {
  width: 100%;
  padding-top: 10px;
  margin-bottom: 30px;
  background-color: $color-second-green;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  color: $color-dark-green;
}
.show-attribute {
  width: 100px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.show-ingredients {
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: $color-dark-green;
  text-align: center;
}

.show-instructions {
  color: $color-dark-green;
  padding: 10px;
}
.show-instructions h6 {
  color: $color-second-green
}

.show-calories {
  background-color: $color-second-green;
  text-align: center;
  width: 100%;
  padding: 20px 20px 5px 20px;
  margin-bottom: 40px;
}
.show-calories-details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px 25px 5px 25px;
  border-bottom: 1px solid $color-dark-green;
}
.show-calories-details-last {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px 25px 0px 25px;
}
