<div class="commentaires-container">
  <% @post.commentaires.each do |commentaire| %>
    <div class="commentaire-header">
      <div class="inserer-image">
      <%# TODO %>
      </div>
      <p class="commentaire-username">
        <%= commentaire.user.prenom.capitalize %> <%= commentaire.user.nom.capitalize %>
      </p>
      <p class="commentaire-content">
        <%= commentaire.content %>
        <% if commentaire.user == current_user %>
          <%= link_to post_commentaire_path(@post, commentaire), data: {turbo_method: :delete, turbo_confirm: "Êtes-vous sûr?"} do %>
            <i class="fa-solid fa-trash"></i>
          <% end %>
        <% end %>
      </p>
    </div>
  <% end %>
</div>
