<div class="dropdown-post">
  <svg id="post-toggle-icon" class="toggle-icon-toleft" width="11" height="18" viewBox="0 0 15 25" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M12.4744 25C11.8127 24.9999 11.1782 24.7367 10.7104 24.2684L0.730496 14.2807C0.26276 13.8124 0 13.1774 0 12.5153C0 11.8532 0.26276 11.2183 0.730496 10.75L10.7104 0.762284C10.9406 0.523802 11.2159 0.33358 11.5203 0.202718C11.8247 0.0718564 12.1521 0.00297528 12.4833 9.42768e-05C12.8146 -0.00278672 13.1432 0.0603894 13.4498 0.185937C13.7564 0.311485 14.035 0.49689 14.2692 0.731334C14.5035 0.965778 14.6888 1.24457 14.8142 1.55143C14.9397 1.85829 15.0028 2.18709 14.9999 2.51863C14.997 2.85017 14.9282 3.17782 14.7974 3.48245C14.6667 3.78709 14.4766 4.06261 14.2383 4.29294L6.02234 12.5153L14.2383 20.7377C14.5871 21.0869 14.8247 21.5318 14.9209 22.0161C15.0171 22.5004 14.9677 23.0023 14.7789 23.4585C14.5901 23.9147 14.2704 24.3046 13.8602 24.579C13.45 24.8534 12.9677 24.9999 12.4744 25Z" fill="#FFFACD"/>
  </svg>

  <%= link_to "#" do%>
    <svg id="post-edit-icon" width="18" height="18" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M20.0596 11.2931L20.612 10.7408L18.9546 9.08388L15.9185 6.04859L14.2611 4.39164L13.7086 4.94396L12.6037 6.04859L2.86458 15.785C2.35612 16.2933 1.98454 16.9238 1.7792 17.613L0.0484594 23.4979C-0.0737682 23.9084 0.0386812 24.3532 0.346695 24.6562C0.654708 24.9593 1.09473 25.0717 1.50541 24.9544L7.387 23.2241C8.07637 23.0189 8.70706 22.6474 9.21553 22.1391L18.9546 12.4027L20.0596 11.2931ZM7.82213 19.5241L7.37722 20.6336C7.18166 20.7852 6.96165 20.8976 6.72697 20.9709L2.9037 22.0951L4.02819 18.2777C4.09664 18.0382 4.21398 17.8183 4.36554 17.6277L5.47536 17.1829V18.747C5.47536 19.1771 5.82738 19.529 6.25762 19.529H7.82213V19.5241ZM17.7323 0.916453L17.0283 1.62518L15.9234 2.72981L15.366 3.28212L17.0234 4.93907L20.0596 7.97436L21.717 9.63131L22.2694 9.07899L23.3744 7.97436L24.0833 7.26564C25.3056 6.0437 25.3056 4.06416 24.0833 2.84223L22.1619 0.916453C20.9396 -0.305484 18.9595 -0.305484 17.7372 0.916453H17.7323ZM15.4149 9.12787L8.3746 16.1662C8.07148 16.4693 7.57279 16.4693 7.26966 16.1662C6.96654 15.8632 6.96654 15.3646 7.26966 15.0616L14.31 8.02324C14.6131 7.7202 15.1118 7.7202 15.4149 8.02324C15.718 8.32628 15.718 8.82483 15.4149 9.12787Z" fill="#FFFACD"/>
    </svg>
  <% end %>

  <%= link_to post_path(post), data: { turbo_method: :delete, turbo_confirm: "Supprimer le post ?" } do %>
    <svg id="post-delete-icon" width="16" height="18" viewBox="0 0 22 25" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M6.63929 0.864258L6.28571 1.5625H1.57143C0.702232 1.5625 0 2.26074 0 3.125C0 3.98926 0.702232 4.6875 1.57143 4.6875H20.4286C21.2978 4.6875 22 3.98926 22 3.125C22 2.26074 21.2978 1.5625 20.4286 1.5625H15.7143L15.3607 0.864258C15.0955 0.332031 14.5504 0 13.9563 0H8.04375C7.44955 0 6.90446 0.332031 6.63929 0.864258ZM20.4286 6.25H1.57143L2.6125 22.8027C2.69107 24.0381 3.72232 25 4.96473 25H17.0353C18.2777 25 19.3089 24.0381 19.3875 22.8027L20.4286 6.25Z" fill="#FFFACD"/>
    </svg>
  <% end %>
</div>
