<div class="post-container">
  <div class="post-header">
    <%= cl_image_tag current_user.photo.key, class: "profile-picture" %>
    <p class="post-username">
      <%= current_user.prenom.capitalize %> <%= current_user.nom.capitalize %>
    </p>
  </div>
  <%= render "post_form", post: post %>
</div>
