<%= simple_form_for(post) do |f| %>
  <%= f.input :contenu, label: false, as: :text, input_html: { rows: 3, class: "new-post-textarea", placeholder: "Dites quelque chose..." } %>
  <div class="post-buttons">
    <%= button_tag type: "button", class: "new-post-icon" do %>
      <svg width="25" height="22" viewBox="0 0 34 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 4.28571C0 1.92188 1.90586 0 4.25 0H29.75C32.0941 0 34 1.92188 34 4.28571V25.7143C34 28.0781 32.0941 30 29.75 30H4.25C1.90586 30 0 28.0781 0 25.7143V4.28571ZM21.5023 11.4174C21.2035 10.9754 20.7121 10.7143 20.1875 10.7143C19.6629 10.7143 19.1648 10.9754 18.8727 11.4174L13.0953 19.9621L11.3355 17.7455C11.0301 17.3638 10.5719 17.1429 10.0938 17.1429C9.61563 17.1429 9.15078 17.3638 8.85195 17.7455L4.60195 23.1027C4.2168 23.5848 4.14375 24.2478 4.40938 24.8036C4.675 25.3594 5.23281 25.7143 5.84375 25.7143H12.2188H14.3438H28.1562C28.7473 25.7143 29.2918 25.3862 29.5641 24.8571C29.8363 24.3281 29.8031 23.692 29.4711 23.2031L21.5023 11.4174ZM7.4375 10.7143C8.28288 10.7143 9.09363 10.3756 9.6914 9.77284C10.2892 9.17005 10.625 8.35248 10.625 7.5C10.625 6.64752 10.2892 5.82995 9.6914 5.22716C9.09363 4.62436 8.28288 4.28571 7.4375 4.28571C6.59212 4.28571 5.78137 4.62436 5.1836 5.22716C4.58582 5.82995 4.25 6.64752 4.25 7.5C4.25 8.35248 4.58582 9.17005 5.1836 9.77284C5.78137 10.3756 6.59212 10.7143 7.4375 10.7143Z" fill="#1E3932"/>
      </svg>
    <% end %>
    <%= button_tag type: 'submit', class: "new-post-icon" do %>
      <svg width="25" height="22" viewBox="0 0 30 27" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd"
        d="M1.91941 0.0981928L29.4044 12.3189C29.5737 12.3759 29.7218 12.4827 29.8293 12.6253C29.9369 12.7679 29.9988 12.9397 30.007 13.1181C30.0152 13.2965 29.9693 13.4733 29.8754 13.6252C29.7814 13.7771 29.6437 13.897 29.4803 13.9693L1.92631 26.3316C1.76806 26.4029 1.59233 26.4262 1.42096 26.3985C1.24958 26.3709 1.0901 26.2935 0.962316 26.176C0.834528 26.0585 0.744058 25.9061 0.702138 25.7376C0.660219 25.5692 0.668694 25.3921 0.726513 25.2285L3.99792 15.8355L18.7684 13.2149L4.03244 10.5943L0.723059 1.20132C0.66578 1.03803 0.65756 0.861545 0.699411 0.693639C0.741263 0.525732 0.831355 0.37375 0.958572 0.256447C1.08579 0.139143 1.24456 0.0616497 1.41531 0.0335276C1.58605 0.00540549 1.76129 0.0278851 1.91941 0.0981928Z" fill="#1E3932"/>
      </svg>
    <% end %>
  </div>
<% end %>
