<div class="container">
  <%# TODO : à remplacer par une classe perso et non pas bootstrap %>
  <%= render "new_post", post: @post %>
  <% @posts.reverse.each do |post| %>
    <%= render "post", post: post %>
  <% end %>
</div>
