.btn-valider-light {
  background-color: #A3CB38;
  color: #1E3932;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: bold;
}

.btn-valider-medium {
  background-color: $color-bg;
  color: #1E3932;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: bold;
}

.btn-supprimer-dark {
  background-color: #1E3932;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: bold;
}

.btn-valider-dark {
  background-color: #1E3932;
  color: $color-bg;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: bold;
}
