.navbar-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: $color-dark-green;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  z-index: 1000;

  .nav-item {
    display: flex;
    flex-direction: column; // ✅ pour que l’icône soit au-dessus du label
    align-items: center;
    justify-content: center;
    padding: 6px;
    text-decoration: none;
    width: 72px;
  }

  .nav-icon {
    width: 24px;
    height: 24px;
    filter: brightness(0) saturate(100%) invert(94%) sepia(11%) saturate(489%) hue-rotate(3deg) brightness(97%) contrast(90%);
    transition: transform 0.2s ease-in-out, filter 0.2s ease;
  }


  .nav-label {
    font-size: 10px;
    margin-top: 4px;
    color: rgba(255, 255, 255, 0.6); // discret par défaut
    transition: color 0.2s ease;
  }

  .nav-item.active {
    .nav-icon {
      filter: none; //  remove le filtre sur icône active
    }

    .nav-label {
      color: #A3CB38;
      font-weight: 400;
      opacity: 1;
    }
  }
}
