.roadtofit-carousel {
  height: 300px;
  width: 300px;

  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0px 10px;

  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-padding: 0 24px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  transition: all ease 0.5s;
}

.roadtofit-slide {
  flex-shrink: 0;
  display: block;

  width: 90%;
  height: var(--height);
  border-radius: 10px;
  overflow: hidden;

  user-select: none;
  scroll-snap-align: center;

  position: relative;

  .carousel-recette-title {
    position: absolute;
    bottom: 5%;
    h3 {
      font-size: 18px;
      font-weight: 700;
      text-align: left;
      color: $color-second-green;
      padding-left: 10px;
    }
  }

  img {
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
    aspect-ratio: 1;
  }

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;

    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 57%);
  }

}
