.posts-container {
  height: 100%;
  background-color: $color-bg;
  padding: 0px 35px;

  #whassup {
    font-weight: 800;
    color: $color-dark-green;
    margin: 1rem 0rem;
  }
}

.post-container {
  padding: 10px 15px 15px;
  border-radius: 10px;
  background-color: $color-dark-green;
  overflow: hidden;
  position: relative;
  border: none;

  &:not(:first-child) {
    margin: 10px 0px;
  }

  &:not(:not(:last-child)) {
    margin-bottom: 30px;
  }

  .new-post-textarea {
    width: 100%;
    padding: 20px;
    margin: 0;
    background-color: $color-bg !important;
    font-size: 14px;
    font-weight: bold;
    color: $color-dark-green;
    border-radius: 10px;
    border: none;

    &:focus {
      outline: none;
      box-shadow: none;
    }

    &::placeholder {
      color: gray;
      font-weight: bold;
    }
  }
}



.post-username {
  font-size: 14px;
  margin: 0;
  font-weight: bold;
  color: $color-bg;
}

.post-buttons {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;

  .new-post-icon {
    background: transparent;
    border: none;
    box-shadow: none;
  }
}

.post-contenu {
  background-color: $color-bg;
  padding: 10px 15px;
  border-radius: 10px;
  color: $color-dark-green;
  font-size: 14px;
  font-weight: bold;
  margin: 10px 0px;
}

// class to hide an element
.hidden {
  display: none;
}

.post-header {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  margin-bottom: 10px;
}

.dropdown-post {
  background-color: $color-dark-green;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 12px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

  position: absolute;
  right: 0;
  top: 17px;
  transform: translateX(66%);
  transition: all 0.3s ease-out;

  svg {
    transition: all 0.3 ease-out;
  }
}

.playRotateLeft {
   animation: rotateToLeft 0.4s ease-out;
}

.playRotateRight {
  animation: rotateToRight 0.4s ease-out;
}


@keyframes rotateToLeft {
  0% {
    transform: rotate(10deg);
  }
  10% {
    transform: rotate(30deg);
  }
  20% {
    transform: rotate(60deg);
  }
  30% {
    transform: rotate(90deg);
  }
  40% {
    transform: rotate(120deg);
  }
  50% {
    transform: rotate(150deg);
  }
  60% {
    transform: rotate(160deg);
  }
  70% {
    transform: rotate(170deg);
  }
  80% {
    transform: rotate(175deg);
  }
  90% {
    transform: rotate(178deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes rotateToRight {
  0% {
    transform: rotate(180deg);
  }
  10% {
    transform: rotate(170deg);
  }
  20% {
    transform: rotate(140deg);
  }
  30% {
    transform: rotate(120deg);
  }
  40% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(60deg);
  }
  60% {
    transform: rotate(40deg);
  }
  70% {
    transform: rotate(30deg);
  }
  80% {
    transform: rotate(20deg);
  }
  90% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(10deg);
  }
}
