.posts-container {
  height: 100%;
  background-color: $color-bg;
  padding: 0px 35px;

  #whassup {
    font-weight: bolder;
    color: $color-dark-green;
    margin: 1rem 0rem;
  }
}

.new-post-container {
  padding: 10px 15px 15px;
  border-radius: 10px;
  background-color: $color-dark-green;

  .new-post-header {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    margin-bottom: 10px;
  }

  .new-post-username {
    font-size: 14px;
    margin: 0;
    font-weight: bold;
    color: $color-bg;
  }

  .inserer-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: $color-light-blue;
  }

  .new-post-textarea {
    width: 100%;
    padding: 20px;
    margin: 0;
    background-color: $color-bg !important;
    font-size: 14px;
    font-weight: bold;
    color: $color-dark-green;
    border-radius: 10px;
    border: none;
  }

  .new-post-buttons {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;

    .new-post-icon {
      background: transparent;
      border: none;
      box-shadow: none;
    }
  }
}
